#menu {
    position: absolute;
    top: 20px;
    right: 50px;
    
}

.container {
    
    background:url('/assets/reg.jfif');
    width: 300vw;
    height: 250vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
  }

  .old {
    
    background:url('/assets/old.jfif');
    width: 50vw;
    height: 50vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
  } 
  
  .new{
    
    background:url('/assets/new.jfif');
    width: 50vw;
    height: 50vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
  }