<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <div>
  <div class="navbar navbar-inverse" style="height:2cm">    
      <nav class="navbar navbar-light bg-secondary" style="text-align:left" > 
        <a class="navbar-brand" >
          <img src="assets/green.png" width="50" height="50">
        </a>
         <a class="navbar-brand" style="text-align:left" id="top" ><h1 style="color: rgb(173, 224, 131);">E-Library</h1></a>  
      
        <div class="collapse navbar-collapse" >    
          <ul  id="menu">    

            <li class="nav-item">    
                <a class="nav-link" routerLink="" style="color: rgb(226, 236, 135);">Home</a>    
              </li> 
            
             
            
        </ul>    
      </div> 
    
    </nav>
     
          
    </div>  
    
</div> 
  <div class='container'>
<p style = "position:relative; left:300px; top:40px; font-style: italic ; font-size: 60px;"><b>Contact Us</b></p>
<br><p style = "position:relative; left:300px; top:40px; font-style: normal ; font-size: 20px;">The AK Library Service 
   <br> Washington, DC 20542
    <br>Telephone: (201) 0443-5654
    <br>Toll-free: 21-540-4874-4321
    <br>Fax: (101) 605-2176
    <br>TDD: (321) 865-9875
    <br>E-mail: ak.lib@yc.com
    <br> Websites: www.ak/lib.com </p>
</div>

