.container {
    background:url('/assets/library.jpg');
    width: 100vw;
    height: 100vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
  }
  #menu {
    position: absolute;
    top: 20px;
    right: 50px;
    
}